nav {
    background-color:darkcyan;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 0;
    height:60px;
}
body{
    color: cornflowerblue;
    background-color:white;
}
.signup{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
}
.signup1{
    margin:0;
}
.signup input{
    margin:10px;
    margin-top: 30px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.signup button{
    background-color: white;
    color:dodgerblue;
    font-size: 1.5rem;
    border-radius: 0px;
    border-color: darkgrey;
    margin:10px;
    padding:10px 63px ;
    cursor: pointer;
    font-weight: 600;
}
.login{
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
   

}
.login input{
    margin:30px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.login button{
    background-color: white;
    color:dodgerblue;
    font-size: 1.5rem;
    border-radius: 0px;
    border-color: darkgrey;
    margin:10px;
    margin-left:25px;
    padding:10px 73px ;
    cursor: pointer;
    font-weight: 600;
}
.book{
    display:inline-block;
    text-align: center;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
     transition: transform 0.2s, box-shadow 0.2s;
     color:blanchedalmond;
     background-color: cadetblue;
     padding:10px;
}
.book1{
    display:flex;
    flex-direction: column;
    margin-top: 0;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
     transition: transform 0.2s, box-shadow 0.2s;
}
.book form{
    margin:20px;
    padding:10px;
    font-size: 20px;
    color:black;
}
.book1 label{
    font-size: 24px;
    margin:15px;
    margin-top:0;

}
select{
    margin:10px;
    font-size:16px;
}
.book1 input {
    margin: 10px;
    margin-top:0;
}
.btn {
    padding:15px;
    font-size:1rem;
    margin:10px;
}
.logs{
    color:darkmagenta;
    font-size:32px;
    box-sizing: border-box;

}
.logout{
    color:darkgreen;
    padding:10px;
    display: flex;
    align-items:end;
    justify-content:end;
    cursor: pointer;
}
.resourceManager2{
    display:grid;
    margin-left:20px;
    grid-template-columns: repeat(3,1fr);
    box-sizing: content-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
  transition: transform 0.2s, box-shadow 0.2s;
}
.h33{
    margin-left:44%;
    box-sizing: border-box;
    border-radius: 2px;
    color:green;
}
.resourceManager5{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: cornsilk;
  color:blueviolet;
  margin:10px;
}
h4{
    margin-left:40%;
    color:brown;
    font-size:1.5rem;
    font-weight: 600;
}
.rs5{
    margin-left:20px;
}
.st1,.ss1{
    display: flex;
    justify-self: center;
}
.resourceManager3{
    display:inline-block;
    text-align: center;
    width: fit-content;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
     transition: transform 0.2s, box-shadow 0.2s;
     color:blue;
     background-color:antiquewhite;
     padding:10px;
}
.resourceManager4{
    display:inline-block;
    text-align: center;
    width: fit-content;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
     transition: transform 0.2s, box-shadow 0.2s;
     color:blue;
     background-color:antiquewhite;
     padding:10px;
}
.dashboard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.dashboard1 button {
    margin:20px;
    padding:20px;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    background-color:darkcyan;
    color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
     transition: transform 0.2s, box-shadow 0.2s;
}
.getRes{
    margin:10px;
}
.getRes1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin:auto;
    padding:20px;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
    background-color:darkcyan;
    color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Soft shadow for depth */
     transition: transform 0.2s, box-shadow 0.2s;
}
.rest{
    display: flex;
    justify-content: center;
}
.rest1{
    padding:10px;
    font-size: 16px;
}